.hud__damage
  display flex
  flex-direction row
  flex 1 1 auto
  justify-content: center
  align-items: center

.hud__damage__icon
  display inline-block
  height 32px
  width 32px
  background-image url(/img/textures/attackIcon.png)

.hud__damage__text
  display inline-block
  color white
  height 100%
