.notifications__notification
  position: relative
  overflow: hidden
  z-index: 2000000000000

  margin: 0
  margin-left: 0.5rem
  margin-right: 0.5rem
  margin-top: 0.5rem
  padding: 0.8rem

  border-radius: 4px
  font-family: sans-serif
  background: white
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)

  transition-timing-function: ease-in-out


.notifications__notification_hidden
  margin: 0
  padding: 0

  opacity: 0
  box-shadow: none
  border: none
