.form__submit-button
  font-family: 'Press Start 2P', cursive
  font-size: x-large
  color: black
  background-color: transparent

  @media (min-width: 768px)
    background-color: #4CAF50

  padding: 0.75rem
  margin: 0.25rem

  text-align: center
  text-decoration: none

  display: inline-block
