.hud__money
  display flex
  flex-direction row
  flex 1 1 auto
  justify-content: center
  align-items: center

.hud__money__icon
  display inline-block
  height 32px
  width 32px
  background-image url(/img/textures/moneyIcon.png)


.hud__money__text
  display inline-block
  color white
  height 100%
