.form__input-block
  font-size: x-large
  margin-bottom: 0.5rem
  padding: 0.25rem
  display: flex
  flex-direction: column
  justify-content: space-around
  flex: 1 1 auto

.form__input-block input
  font-size: medium
  text-align: center

  margin: 0.25rem
  padding: 0.25rem

  border: none
  background-color: transparent
  border-bottom: solid 0.1rem
  font-family: 'Press Start 2P', monospace
  //animation: inputColorChange 1s linear 0s infinite both

  // Remove chrome autocomplete yellow background
  &:-webkit-autofill
    color: #DB328A
    border-color: #DB328A
    -webkit-box-shadow: 0 0 0 1000px #082B57 inset

.form__input-block label
  padding: 0.25rem
  margin-bottom: 0.25rem


