@import '../../../css/consts.styl'

.button
  font-family: 'Press Start 2P', cursive
  font-size: x-large
  background-color transparent
  cursor: pointer
  display inline-block

  //@media (min-width: 768px)
  //  background-color: #c0c0c0

  padding: 0.75rem
  margin: 0.25rem

  text-align: center
  text-decoration: none

  border: none
  border-radius: 0

  &:hover
    color: hover-color
    //animation colorChange 0.2s linear 0s infinite
