stops = 100
time = 20s


font-color = #ff8888
@keyframes colorChange
  for i in 0...stops
    color = hue(font-color, (360/stops)*i)
    {i+'%'}
      color: color


border-color = #ff8888
@keyframes inputColorChange
  for i in 0...stops
    color = hue(border-color, (360/stops)*i)
    {i+'%'}
      border-bottom-color: color
      color: color
