@import './animations.styl'
@import './consts.styl'

*
  color: foreground-color
  margin: 0
  padding: 0
  font-family: 'Press Start 2P', monospace

  &:focus
    outline: none

noscript
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: center
  align-items: center

html
  height: 100vh

body
  background-color: background-color
  margin: auto
  display: flex
  flex-direction: column
  flex: 1 1 auto
  height: 100vh

#application
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: center
  align-items: center
  margin: auto

.box
  min-width: 100%
  display: flex
  background-color: transparent
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  flex: 1 0 auto
  text-align: center
  margin-bottom: auto
  padding: 0.5rem

//@media (min-width: 768px)
//  min-width: 50%
//  background-color: white
//  border: solid #999 0.1rem

//@media (min-width: 992px)
//  min-width: 50%
//
//@media (min-width: 1200px)
//  min-width: 25%
