/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
}

html, body {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    background-color: #ff8888;
    -webkit-animation: colorChange 20s linear 0s infinite;
    animation: colorChange 20s linear 0s infinite;
}

#application {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex: 1 0 auto;
    background-color: white;
    text-align: center;
    margin-bottom: auto;

    padding: 0.5rem;
    border: solid #999 0.1rem;
}

/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/

@-webkit-keyframes colorChange {
    0% {
        background: -webkit-linear-gradient(left, #ff8888, #ffb088);
        background: linear-gradient(to right, #ff8888, #ffb088);
    }

    1% {
        background: -webkit-linear-gradient(left, #ff8f88, #ffb788);
        background: linear-gradient(to right, #ff8f88, #ffb788);
    }

    2% {
        background: -webkit-linear-gradient(left, #ff9688, #ffbe88);
        background: linear-gradient(to right, #ff9688, #ffbe88);
    }

    3% {
        background: -webkit-linear-gradient(left, #ff9d88, #ffc588);
        background: linear-gradient(to right, #ff9d88, #ffc588);
    }

    4% {
        background: -webkit-linear-gradient(left, #ffa588, #ffcc88);
        background: linear-gradient(to right, #ffa588, #ffcc88);
    }

    5% {
        background: -webkit-linear-gradient(left, #ffac88, #ffd388);
        background: linear-gradient(to right, #ffac88, #ffd388);
    }

    6% {
        background: -webkit-linear-gradient(left, #ffb388, #ffdb88);
        background: linear-gradient(to right, #ffb388, #ffdb88);
    }

    7% {
        background: -webkit-linear-gradient(left, #ffba88, #ffe288);
        background: linear-gradient(to right, #ffba88, #ffe288);
    }

    8% {
        background: -webkit-linear-gradient(left, #ffc188, #ffe988);
        background: linear-gradient(to right, #ffc188, #ffe988);
    }

    9% {
        background: -webkit-linear-gradient(left, #ffc888, #fff088);
        background: linear-gradient(to right, #ffc888, #fff088);
    }

    10% {
        background: -webkit-linear-gradient(left, #ffcf88, #fff788);
        background: linear-gradient(to right, #ffcf88, #fff788);
    }

    11% {
        background: -webkit-linear-gradient(left, #ffd788, #fffe88);
        background: linear-gradient(to right, #ffd788, #fffe88);
    }

    12% {
        background: -webkit-linear-gradient(left, #ffde88, #f9ff88);
        background: linear-gradient(to right, #ffde88, #f9ff88);
    }

    13% {
        background: -webkit-linear-gradient(left, #ffe588, #f2ff88);
        background: linear-gradient(to right, #ffe588, #f2ff88);
    }

    14% {
        background: -webkit-linear-gradient(left, #ffec88, #eaff88);
        background: linear-gradient(to right, #ffec88, #eaff88);
    }

    15% {
        background: -webkit-linear-gradient(left, #fff388, #e3ff88);
        background: linear-gradient(to right, #fff388, #e3ff88);
    }

    16% {
        background: -webkit-linear-gradient(left, #fffa88, #dcff88);
        background: linear-gradient(to right, #fffa88, #dcff88);
    }

    17% {
        background: -webkit-linear-gradient(left, #fdff88, #d5ff88);
        background: linear-gradient(to right, #fdff88, #d5ff88);
    }

    18% {
        background: -webkit-linear-gradient(left, #f5ff88, #ceff88);
        background: linear-gradient(to right, #f5ff88, #ceff88);
    }

    19% {
        background: -webkit-linear-gradient(left, #eeff88, #c7ff88);
        background: linear-gradient(to right, #eeff88, #c7ff88);
    }

    20% {
        background: -webkit-linear-gradient(left, #e7ff88, #c0ff88);
        background: linear-gradient(to right, #e7ff88, #c0ff88);
    }

    21% {
        background: -webkit-linear-gradient(left, #e0ff88, #b8ff88);
        background: linear-gradient(to right, #e0ff88, #b8ff88);
    }

    22% {
        background: -webkit-linear-gradient(left, #d9ff88, #b1ff88);
        background: linear-gradient(to right, #d9ff88, #b1ff88);
    }

    23% {
        background: -webkit-linear-gradient(left, #d2ff88, #aaff88);
        background: linear-gradient(to right, #d2ff88, #aaff88);
    }

    24% {
        background: -webkit-linear-gradient(left, #cbff88, #a3ff88);
        background: linear-gradient(to right, #cbff88, #a3ff88);
    }

    25% {
        background: -webkit-linear-gradient(left, #c4ff88, #9cff88);
        background: linear-gradient(to right, #c4ff88, #9cff88);
    }

    26% {
        background: -webkit-linear-gradient(left, #bcff88, #95ff88);
        background: linear-gradient(to right, #bcff88, #95ff88);
    }

    27% {
        background: -webkit-linear-gradient(left, #b5ff88, #8eff88);
        background: linear-gradient(to right, #b5ff88, #8eff88);
    }

    28% {
        background: -webkit-linear-gradient(left, #aeff88, #88ff8a);
        background: linear-gradient(to right, #aeff88, #88ff8a);
    }

    29% {
        background: -webkit-linear-gradient(left, #a7ff88, #88ff91);
        background: linear-gradient(to right, #a7ff88, #88ff91);
    }

    30% {
        background: -webkit-linear-gradient(left, #a0ff88, #88ff98);
        background: linear-gradient(to right, #a0ff88, #88ff98);
    }

    31% {
        background: -webkit-linear-gradient(left, #99ff88, #88ff9f);
        background: linear-gradient(to right, #99ff88, #88ff9f);
    }

    32% {
        background: -webkit-linear-gradient(left, #92ff88, #88ffa6);
        background: linear-gradient(to right, #92ff88, #88ffa6);
    }

    33% {
        background: -webkit-linear-gradient(left, #8aff88, #88ffad);
        background: linear-gradient(to right, #8aff88, #88ffad);
    }

    34% {
        background: -webkit-linear-gradient(left, #88ff8d, #88ffb4);
        background: linear-gradient(to right, #88ff8d, #88ffb4);
    }

    35% {
        background: -webkit-linear-gradient(left, #88ff94, #88ffbc);
        background: linear-gradient(to right, #88ff94, #88ffbc);
    }

    36% {
        background: -webkit-linear-gradient(left, #88ff9b, #88ffc3);
        background: linear-gradient(to right, #88ff9b, #88ffc3);
    }

    37% {
        background: -webkit-linear-gradient(left, #88ffa2, #88ffca);
        background: linear-gradient(to right, #88ffa2, #88ffca);
    }

    38% {
        background: -webkit-linear-gradient(left, #88ffa9, #88ffd1);
        background: linear-gradient(to right, #88ffa9, #88ffd1);
    }

    39% {
        background: -webkit-linear-gradient(left, #88ffb0, #88ffd8);
        background: linear-gradient(to right, #88ffb0, #88ffd8);
    }

    40% {
        background: -webkit-linear-gradient(left, #88ffb8, #88ffdf);
        background: linear-gradient(to right, #88ffb8, #88ffdf);
    }

    41% {
        background: -webkit-linear-gradient(left, #88ffbf, #88ffe6);
        background: linear-gradient(to right, #88ffbf, #88ffe6);
    }

    42% {
        background: -webkit-linear-gradient(left, #88ffc6, #88ffee);
        background: linear-gradient(to right, #88ffc6, #88ffee);
    }

    43% {
        background: -webkit-linear-gradient(left, #88ffcd, #88fff5);
        background: linear-gradient(to right, #88ffcd, #88fff5);
    }

    44% {
        background: -webkit-linear-gradient(left, #88ffd4, #88fffc);
        background: linear-gradient(to right, #88ffd4, #88fffc);
    }

    45% {
        background: -webkit-linear-gradient(left, #88ffdb, #88fbff);
        background: linear-gradient(to right, #88ffdb, #88fbff);
    }

    46% {
        background: -webkit-linear-gradient(left, #88ffe2, #88f4ff);
        background: linear-gradient(to right, #88ffe2, #88f4ff);
    }

    47% {
        background: -webkit-linear-gradient(left, #88ffea, #88edff);
        background: linear-gradient(to right, #88ffea, #88edff);
    }

    48% {
        background: -webkit-linear-gradient(left, #88fff1, #88e6ff);
        background: linear-gradient(to right, #88fff1, #88e6ff);
    }

    49% {
        background: -webkit-linear-gradient(left, #88fff8, #88deff);
        background: linear-gradient(to right, #88fff8, #88deff);
    }

    50% {
        background: -webkit-linear-gradient(left, #88ffff, #88d7ff);
        background: linear-gradient(to right, #88ffff, #88d7ff);
    }

    51% {
        background: -webkit-linear-gradient(left, #88f8ff, #88d0ff);
        background: linear-gradient(to right, #88f8ff, #88d0ff);
    }

    52% {
        background: -webkit-linear-gradient(left, #88f1ff, #88c9ff);
        background: linear-gradient(to right, #88f1ff, #88c9ff);
    }

    53% {
        background: -webkit-linear-gradient(left, #88eaff, #88c2ff);
        background: linear-gradient(to right, #88eaff, #88c2ff);
    }

    54% {
        background: -webkit-linear-gradient(left, #88e2ff, #88bbff);
        background: linear-gradient(to right, #88e2ff, #88bbff);
    }

    55% {
        background: -webkit-linear-gradient(left, #88dbff, #88b4ff);
        background: linear-gradient(to right, #88dbff, #88b4ff);
    }

    56% {
        background: -webkit-linear-gradient(left, #88d4ff, #88acff);
        background: linear-gradient(to right, #88d4ff, #88acff);
    }

    57% {
        background: -webkit-linear-gradient(left, #88cdff, #88a5ff);
        background: linear-gradient(to right, #88cdff, #88a5ff);
    }

    58% {
        background: -webkit-linear-gradient(left, #88c6ff, #889eff);
        background: linear-gradient(to right, #88c6ff, #889eff);
    }

    59% {
        background: -webkit-linear-gradient(left, #88bfff, #8897ff);
        background: linear-gradient(to right, #88bfff, #8897ff);
    }

    60% {
        background: -webkit-linear-gradient(left, #88b8ff, #8890ff);
        background: linear-gradient(to right, #88b8ff, #8890ff);
    }

    61% {
        background: -webkit-linear-gradient(left, #88b0ff, #8889ff);
        background: linear-gradient(to right, #88b0ff, #8889ff);
    }

    62% {
        background: -webkit-linear-gradient(left, #88a9ff, #8e88ff);
        background: linear-gradient(to right, #88a9ff, #8e88ff);
    }

    63% {
        background: -webkit-linear-gradient(left, #88a2ff, #9588ff);
        background: linear-gradient(to right, #88a2ff, #9588ff);
    }

    64% {
        background: -webkit-linear-gradient(left, #889bff, #9d88ff);
        background: linear-gradient(to right, #889bff, #9d88ff);
    }

    65% {
        background: -webkit-linear-gradient(left, #8894ff, #a488ff);
        background: linear-gradient(to right, #8894ff, #a488ff);
    }

    66% {
        background: -webkit-linear-gradient(left, #888dff, #ab88ff);
        background: linear-gradient(to right, #888dff, #ab88ff);
    }

    67% {
        background: -webkit-linear-gradient(left, #8a88ff, #b288ff);
        background: linear-gradient(to right, #8a88ff, #b288ff);
    }

    68% {
        background: -webkit-linear-gradient(left, #9288ff, #b988ff);
        background: linear-gradient(to right, #9288ff, #b988ff);
    }

    69% {
        background: -webkit-linear-gradient(left, #9988ff, #c088ff);
        background: linear-gradient(to right, #9988ff, #c088ff);
    }

    70% {
        background: -webkit-linear-gradient(left, #a088ff, #c788ff);
        background: linear-gradient(to right, #a088ff, #c788ff);
    }

    71% {
        background: -webkit-linear-gradient(left, #a788ff, #cf88ff);
        background: linear-gradient(to right, #a788ff, #cf88ff);
    }

    72% {
        background: -webkit-linear-gradient(left, #ae88ff, #d688ff);
        background: linear-gradient(to right, #ae88ff, #d688ff);
    }

    73% {
        background: -webkit-linear-gradient(left, #b588ff, #dd88ff);
        background: linear-gradient(to right, #b588ff, #dd88ff);
    }

    74% {
        background: -webkit-linear-gradient(left, #bc88ff, #e488ff);
        background: linear-gradient(to right, #bc88ff, #e488ff);
    }

    75% {
        background: -webkit-linear-gradient(left, #c388ff, #eb88ff);
        background: linear-gradient(to right, #c388ff, #eb88ff);
    }

    76% {
        background: -webkit-linear-gradient(left, #cb88ff, #f288ff);
        background: linear-gradient(to right, #cb88ff, #f288ff);
    }

    77% {
        background: -webkit-linear-gradient(left, #d288ff, #f988ff);
        background: linear-gradient(to right, #d288ff, #f988ff);
    }

    78% {
        background: -webkit-linear-gradient(left, #d988ff, #ff88fd);
        background: linear-gradient(to right, #d988ff, #ff88fd);
    }

    79% {
        background: -webkit-linear-gradient(left, #e088ff, #ff88f6);
        background: linear-gradient(to right, #e088ff, #ff88f6);
    }

    80% {
        background: -webkit-linear-gradient(left, #e788ff, #ff88ef);
        background: linear-gradient(to right, #e788ff, #ff88ef);
    }

    81% {
        background: -webkit-linear-gradient(left, #ee88ff, #ff88e8);
        background: linear-gradient(to right, #ee88ff, #ff88e8);
    }

    82% {
        background: -webkit-linear-gradient(left, #f588ff, #ff88e1);
        background: linear-gradient(to right, #f588ff, #ff88e1);
    }

    83% {
        background: -webkit-linear-gradient(left, #fd88ff, #ff88da);
        background: linear-gradient(to right, #fd88ff, #ff88da);
    }

    84% {
        background: -webkit-linear-gradient(left, #ff88fa, #ff88d3);
        background: linear-gradient(to right, #ff88fa, #ff88d3);
    }

    85% {
        background: -webkit-linear-gradient(left, #ff88f3, #ff88cb);
        background: linear-gradient(to right, #ff88f3, #ff88cb);
    }

    86% {
        background: -webkit-linear-gradient(left, #ff88ec, #ff88c4);
        background: linear-gradient(to right, #ff88ec, #ff88c4);
    }

    87% {
        background: -webkit-linear-gradient(left, #ff88e5, #ff88bd);
        background: linear-gradient(to right, #ff88e5, #ff88bd);
    }

    88% {
        background: -webkit-linear-gradient(left, #ff88de, #ff88b6);
        background: linear-gradient(to right, #ff88de, #ff88b6);
    }

    89% {
        background: -webkit-linear-gradient(left, #ff88d7, #ff88af);
        background: linear-gradient(to right, #ff88d7, #ff88af);
    }

    90% {
        background: -webkit-linear-gradient(left, #ff88cf, #ff88a8);
        background: linear-gradient(to right, #ff88cf, #ff88a8);
    }

    91% {
        background: -webkit-linear-gradient(left, #ff88c8, #ff88a1);
        background: linear-gradient(to right, #ff88c8, #ff88a1);
    }

    92% {
        background: -webkit-linear-gradient(left, #ff88c1, #ff8899);
        background: linear-gradient(to right, #ff88c1, #ff8899);
    }

    93% {
        background: -webkit-linear-gradient(left, #ff88ba, #ff8892);
        background: linear-gradient(to right, #ff88ba, #ff8892);
    }

    94% {
        background: -webkit-linear-gradient(left, #ff88b3, #ff888b);
        background: linear-gradient(to right, #ff88b3, #ff888b);
    }

    95% {
        background: -webkit-linear-gradient(left, #ff88ac, #ff8c88);
        background: linear-gradient(to right, #ff88ac, #ff8c88);
    }

    96% {
        background: -webkit-linear-gradient(left, #ff88a5, #ff9388);
        background: linear-gradient(to right, #ff88a5, #ff9388);
    }

    97% {
        background: -webkit-linear-gradient(left, #ff889d, #ff9a88);
        background: linear-gradient(to right, #ff889d, #ff9a88);
    }

    98% {
        background: -webkit-linear-gradient(left, #ff8896, #ffa188);
        background: linear-gradient(to right, #ff8896, #ffa188);
    }

    99% {
        background: -webkit-linear-gradient(left, #ff888f, #ffa988);
        background: linear-gradient(to right, #ff888f, #ffa988);
    }

    100% {
        background: -webkit-linear-gradient(left, #ff8888, #ffb088);
        background: linear-gradient(to right, #ff8888, #ffb088);
    }
}

@keyframes colorChange {
    0% {
        background: linear-gradient(to right, #ff8888, #ffb088);
    }

    1% {
        background: linear-gradient(to right, #ff8f88, #ffb788);
    }

    2% {
        background: linear-gradient(to right, #ff9688, #ffbe88);
    }

    3% {
        background: linear-gradient(to right, #ff9d88, #ffc588);
    }

    4% {
        background: linear-gradient(to right, #ffa588, #ffcc88);
    }

    5% {
        background: linear-gradient(to right, #ffac88, #ffd388);
    }

    6% {
        background: linear-gradient(to right, #ffb388, #ffdb88);
    }

    7% {
        background: linear-gradient(to right, #ffba88, #ffe288);
    }

    8% {
        background: linear-gradient(to right, #ffc188, #ffe988);
    }

    9% {
        background: linear-gradient(to right, #ffc888, #fff088);
    }

    10% {
        background: linear-gradient(to right, #ffcf88, #fff788);
    }

    11% {
        background: linear-gradient(to right, #ffd788, #fffe88);
    }

    12% {
        background: linear-gradient(to right, #ffde88, #f9ff88);
    }

    13% {
        background: linear-gradient(to right, #ffe588, #f2ff88);
    }

    14% {
        background: linear-gradient(to right, #ffec88, #eaff88);
    }

    15% {
        background: linear-gradient(to right, #fff388, #e3ff88);
    }

    16% {
        background: linear-gradient(to right, #fffa88, #dcff88);
    }

    17% {
        background: linear-gradient(to right, #fdff88, #d5ff88);
    }

    18% {
        background: linear-gradient(to right, #f5ff88, #ceff88);
    }

    19% {
        background: linear-gradient(to right, #eeff88, #c7ff88);
    }

    20% {
        background: linear-gradient(to right, #e7ff88, #c0ff88);
    }

    21% {
        background: linear-gradient(to right, #e0ff88, #b8ff88);
    }

    22% {
        background: linear-gradient(to right, #d9ff88, #b1ff88);
    }

    23% {
        background: linear-gradient(to right, #d2ff88, #aaff88);
    }

    24% {
        background: linear-gradient(to right, #cbff88, #a3ff88);
    }

    25% {
        background: linear-gradient(to right, #c4ff88, #9cff88);
    }

    26% {
        background: linear-gradient(to right, #bcff88, #95ff88);
    }

    27% {
        background: linear-gradient(to right, #b5ff88, #8eff88);
    }

    28% {
        background: linear-gradient(to right, #aeff88, #88ff8a);
    }

    29% {
        background: linear-gradient(to right, #a7ff88, #88ff91);
    }

    30% {
        background: linear-gradient(to right, #a0ff88, #88ff98);
    }

    31% {
        background: linear-gradient(to right, #99ff88, #88ff9f);
    }

    32% {
        background: linear-gradient(to right, #92ff88, #88ffa6);
    }

    33% {
        background: linear-gradient(to right, #8aff88, #88ffad);
    }

    34% {
        background: linear-gradient(to right, #88ff8d, #88ffb4);
    }

    35% {
        background: linear-gradient(to right, #88ff94, #88ffbc);
    }

    36% {
        background: linear-gradient(to right, #88ff9b, #88ffc3);
    }

    37% {
        background: linear-gradient(to right, #88ffa2, #88ffca);
    }

    38% {
        background: linear-gradient(to right, #88ffa9, #88ffd1);
    }

    39% {
        background: linear-gradient(to right, #88ffb0, #88ffd8);
    }

    40% {
        background: linear-gradient(to right, #88ffb8, #88ffdf);
    }

    41% {
        background: linear-gradient(to right, #88ffbf, #88ffe6);
    }

    42% {
        background: linear-gradient(to right, #88ffc6, #88ffee);
    }

    43% {
        background: linear-gradient(to right, #88ffcd, #88fff5);
    }

    44% {
        background: linear-gradient(to right, #88ffd4, #88fffc);
    }

    45% {
        background: linear-gradient(to right, #88ffdb, #88fbff);
    }

    46% {
        background: linear-gradient(to right, #88ffe2, #88f4ff);
    }

    47% {
        background: linear-gradient(to right, #88ffea, #88edff);
    }

    48% {
        background: linear-gradient(to right, #88fff1, #88e6ff);
    }

    49% {
        background: linear-gradient(to right, #88fff8, #88deff);
    }

    50% {
        background: linear-gradient(to right, #88ffff, #88d7ff);
    }

    51% {
        background: linear-gradient(to right, #88f8ff, #88d0ff);
    }

    52% {
        background: linear-gradient(to right, #88f1ff, #88c9ff);
    }

    53% {
        background: linear-gradient(to right, #88eaff, #88c2ff);
    }

    54% {
        background: linear-gradient(to right, #88e2ff, #88bbff);
    }

    55% {
        background: linear-gradient(to right, #88dbff, #88b4ff);
    }

    56% {
        background: linear-gradient(to right, #88d4ff, #88acff);
    }

    57% {
        background: linear-gradient(to right, #88cdff, #88a5ff);
    }

    58% {
        background: linear-gradient(to right, #88c6ff, #889eff);
    }

    59% {
        background: linear-gradient(to right, #88bfff, #8897ff);
    }

    60% {
        background: linear-gradient(to right, #88b8ff, #8890ff);
    }

    61% {
        background: linear-gradient(to right, #88b0ff, #8889ff);
    }

    62% {
        background: linear-gradient(to right, #88a9ff, #8e88ff);
    }

    63% {
        background: linear-gradient(to right, #88a2ff, #9588ff);
    }

    64% {
        background: linear-gradient(to right, #889bff, #9d88ff);
    }

    65% {
        background: linear-gradient(to right, #8894ff, #a488ff);
    }

    66% {
        background: linear-gradient(to right, #888dff, #ab88ff);
    }

    67% {
        background: linear-gradient(to right, #8a88ff, #b288ff);
    }

    68% {
        background: linear-gradient(to right, #9288ff, #b988ff);
    }

    69% {
        background: linear-gradient(to right, #9988ff, #c088ff);
    }

    70% {
        background: linear-gradient(to right, #a088ff, #c788ff);
    }

    71% {
        background: linear-gradient(to right, #a788ff, #cf88ff);
    }

    72% {
        background: linear-gradient(to right, #ae88ff, #d688ff);
    }

    73% {
        background: linear-gradient(to right, #b588ff, #dd88ff);
    }

    74% {
        background: linear-gradient(to right, #bc88ff, #e488ff);
    }

    75% {
        background: linear-gradient(to right, #c388ff, #eb88ff);
    }

    76% {
        background: linear-gradient(to right, #cb88ff, #f288ff);
    }

    77% {
        background: linear-gradient(to right, #d288ff, #f988ff);
    }

    78% {
        background: linear-gradient(to right, #d988ff, #ff88fd);
    }

    79% {
        background: linear-gradient(to right, #e088ff, #ff88f6);
    }

    80% {
        background: linear-gradient(to right, #e788ff, #ff88ef);
    }

    81% {
        background: linear-gradient(to right, #ee88ff, #ff88e8);
    }

    82% {
        background: linear-gradient(to right, #f588ff, #ff88e1);
    }

    83% {
        background: linear-gradient(to right, #fd88ff, #ff88da);
    }

    84% {
        background: linear-gradient(to right, #ff88fa, #ff88d3);
    }

    85% {
        background: linear-gradient(to right, #ff88f3, #ff88cb);
    }

    86% {
        background: linear-gradient(to right, #ff88ec, #ff88c4);
    }

    87% {
        background: linear-gradient(to right, #ff88e5, #ff88bd);
    }

    88% {
        background: linear-gradient(to right, #ff88de, #ff88b6);
    }

    89% {
        background: linear-gradient(to right, #ff88d7, #ff88af);
    }

    90% {
        background: linear-gradient(to right, #ff88cf, #ff88a8);
    }

    91% {
        background: linear-gradient(to right, #ff88c8, #ff88a1);
    }

    92% {
        background: linear-gradient(to right, #ff88c1, #ff8899);
    }

    93% {
        background: linear-gradient(to right, #ff88ba, #ff8892);
    }

    94% {
        background: linear-gradient(to right, #ff88b3, #ff888b);
    }

    95% {
        background: linear-gradient(to right, #ff88ac, #ff8c88);
    }

    96% {
        background: linear-gradient(to right, #ff88a5, #ff9388);
    }

    97% {
        background: linear-gradient(to right, #ff889d, #ff9a88);
    }

    98% {
        background: linear-gradient(to right, #ff8896, #ffa188);
    }

    99% {
        background: linear-gradient(to right, #ff888f, #ffa988);
    }

    100% {
        background: linear-gradient(to right, #ff8888, #ffb088);
    }
}
