.notifications__notification__close-button-container
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  z-index: 1001

  margin: 0.2rem

  right: 0
  top: 0
  bottom: 0

  user-select: none
  background: white
  box-shadow: 0 0 5px 5px #ffffff


.notifications__notification__close-button
  margin: 0.2rem

  height: 1rem
  width: 1rem

  cursor: pointer
