.logo-spinner {
    width: 28vw;
    height: 14vw;
}

.logo-spinner .pixel {
    width: 2vw;
    height: 2vw;
    float: left;
    animation: logo-spinner-animation 5s infinite ease-in-out; 
}

@keyframes logo-spinner-animation {
    0%, 70%, 100% {
        transform: scale3D(1, 1, 1);
    } 35% {
        transform: scale3D(0, 0, 1);
    } 
}
