.hud__health
  display flex
  flex-direction row
  flex 1 1 auto
  justify-content: center
  align-items: center

.hud__health__icon
  display inline-block
  height 32px
  width 32px
  background-image url(/img/titleset.png)
  background-position 224px

.hud__health__text
  display inline-block
  color white
  height 100%
