.scoreboard
  display: flex
  flex-flow: column nowrap
  justify-content: space-around
  min-width: 15rem
  min-height: 15rem
  font-size: 1rem
  align-content: center

.scoreboard__header
  margin-left: auto
  margin-right: auto
  font-size : 1.5em

.row
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  align-content: baseline

.row__cell
  border: 0.5rem solid inherit
