.hud__info
  display flex
  flex-direction row
  flex 1 1 auto
  justify-content: center
  align-items: center

.hud__info__icon
  display inline-block
  height 32px
  width 32px

.hud__info__text
  display inline-block
  color white
  height 100%


.hud__info__icon_monster-health
  background-image url(/img/textures/hpIcon.png)

.hud__info__icon_monster-damage
  background-image url(/img/textures/attackIcon.png)


.hud__info__icon_tower-damage
  background-image url(/img/textures/attackIcon.png)


.hud__info__icon_tower-attack-rate
  background-image url(/img/textures/aspeedIcon.png)


.hud__info__icon_wave-timer
  background-image url(/img/textures/timerIcon.png)

